/* 
    Document   : style
    Created on : 7 avr. 2013, 11:59:41
    Author     : arthur
    Description:
        Purpose of the stylesheet follows.
*/

html{
    background: url(images/rideau2.jpg) no-repeat center center fixed;
    background-size: cover;
}

h2.titre  {
    margin-bottom: 2.5em;
    margin-top : 1em;
    font-size : 200%;
}

h2.header {
    position : relative;
    left : -12.5em;
    top : -0.5em;
}

a.login, a.reserver {
    float : right;
    text-align: center;
    box-shadow: 0px 2px 5px #1c1a19;
    background-color: #282828;
    color: white;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}




form.loginForm {
    margin-top: 1em;
}

form.loginForm label {
    display : block;
    float : left;
    margin-left : 3em;
    width : 10em;
}

form.loginForm input[type=text], form.loginForm input[type=password] {
    width: 20em;
}

.btnBlack {
    color: white;
    background-color: #282828;
    border-style: none;
    box-shadow: 0px 2px 5px #1c1a19;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 100%;
    margin-left : 2em;
    cursor: pointer;

}

div.footer {
    position : relative;
    width:100%;
}


body{
    width: 70%;
    margin: 10px auto;
    padding: 20px;
    background-color:white;
    filter:alpha(opacity=50);
    font-family:   arial;
    box-shadow: 0px 2px 5px #1c1a19;
}

#erreur{
    width: 600px;
    border: medium red solid;
    margin: 10px auto;
    padding: 20px;
}

#erreur h2{
    color:   red;
}

table.indexTable {
    width: 90%;
    margin : auto;
    margin-top: 1em;
    margin-bottom: 3em;
    border-collapse: collapse;
}
table.indexTable th {
    padding-bottom: 0.8em;
    padding-top: 2em;
}
table.indexTable td {
    text-align: center;
    padding-top: 1em;
    border-top: 1px solid #999999;
    padding-bottom: 0.8em;
}

table.indexTable tr {
    height : 2em;
}

div.reserver {
    box-shadow: 0px 2px 5px #1c1a19;
    vertical-align: middle;
    width : 100%;
    margin-top : 1em;
    margin-bottom : 2em;
}

div.reserverSmall {
    box-shadow: 0px 2px 5px #1c1a19;
    width : 100%;
    margin-top : 0.5em;
    margin-bottom : 1em;
}

div.reserver h3 {
    text-align: center;
    margin-right : 4em;
}

div.reserverSmall h3 {
    text-align: center;
    margin-right : 4em;
    margin-top : 1em;
}


img.reserverImg {
    box-shadow: 0px 2px 5px #1c1a19;
    height : 150px;
    margin : 1em;
    margin-right : 3em;
}

img.reserverImgSmall {
    box-shadow: 0px 2px 5px #1c1a19;
    height : 50px;
    margin : 1em;
    margin-right : 5em;
}

form.reserverForm {
    width : 420px;
}

form.reserverForm label {
    display : block;
    float : left;
    width : 10em;
}

form.reserverForm input[type=text] {
    width : 80px;
}

span.price {
    font-style: italic;
}

.btnReserver {
    color: white;
    background-color: #282828;
    border-style: none;
    box-shadow: 0px 2px 5px #1c1a19;
    padding: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 100%;
    cursor: pointer;
    margin-top : 0.3em;
}

.btnReserverSmall {
    margin-top: 1em;
}


/* work in progress */


#selectable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 450px; 
    height : 200px;
    cursor: pointer;
}

#selectable tr td { 
    margin: 3px; 
    padding: 1px; 
    float: left; 
    width: 100px; 
    height: 80px; 
    font-size: 4em; 
    text-align: center; 
}

#selectable tr td.ui-selecting { 
    background: #FECA40; 
}

#selectable tr td.ui-selected { 
    background: #F39814; 
    color: white; 
}